extends layout.pug

block content
  div.container
    h1.about-msg Magic Note is an ultimate application to keep all your notes in one place. This application offers you all the necessary features such as read, create and delete notes.
    h1.about-msg To see all your notes go to All Notes Page
    a.featured2(href='https://github.com/00010209/WebTechCW2.git') Link to GitHub
    a.featured2(href='https://loving-capricious-sidewalk.glitch.me/') Link to Glitch
    h1.warning-msg This app was created by 00010209 for WebTech Module CW2