extends layout.pug 

block content 
  div.container 
    h1 Create note 

    if error 
      p.error Please fill in all the fields.

    if success 
      p.success Note has successfully been created! 
      
    form.form(action="/create" method='POST') 
      label.form-lbl Title 
      input.input(type="text" name='title' required)

      label.form-lbl Author 
      input.input(type="text" name="author" required)

      label.form-lbl Description
      textarea.input(type="text" name="description" required)

      button.btn Create Note