extends layout.pug 

block content 
  div.container 
    h1.intro-msg Welcome to Magic Note app. This app can help you to create, read and delete notes.
    a.featured(href='/create') Get started
    p.warning-msg This application was created by 00010209 for the sole purpose of completing the WebTech Module CW and it does not represent any actual business or organization.