doctype html
html(lang="en")
  head
    title Magic Note

  body 
    header.navbar 
      h1 
        a(href='/') Magic Note App

    nav.nav 
      a(href='/notes') All Notes 
      a(href='/archive') Archive 
      a(href='/about') About Us 

  block content