:root {
    font-size: 18px;
    color: #152018;
   
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    background-color: black;
    color: #fff;
    margin-top: 10px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color:  salmon;
}

.nav a {
    display: inline-block;
    padding: 5px 10px;
}

/* --------------------------------------------------   Home Page Styling   ---------------------------------------------*/
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.intro-msg {
    font-size: 2.2rem;
    max-width: 70%;
    padding: 100px 0 30px 0;
}

.featured, .featured2 {
    display: inline-block;
    padding: 10px 20px;
    background: black;
    color: #fff;
    border-radius: 10px;
}

.featured:hover, .delete:hover, .btn:hover {
    background-color: #307797;
    color: #fff;
}

.warning-msg{
    font-size: 1.3rem;
    margin-top: 200px ;
    max-width: 100%;
    border-top:  1px solid #000000;
    padding: 10px;
    font-family: 'Lexend', sans-serif
}

/* ------------------------------------------------   Styling Create Page  -------------------------------------*/

.form  {
    max-width: 60%;
}

.input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
    font-family: inherit;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    background: black;
    color: #fff;
    font-size: 1.3rem;
    border: none;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
}
.form-lbl{
    font-size: 1.4rem;
}
/* -----------------------------------------------------     About Page Styles ----------------------------------------------------*/
.about-msg{
    font-size: 2rem;
    max-width: 70%;
    padding: 30px 0 10px 0;
}

.featured2 {
    margin-right: 50px;
}



/* --------------------------------------------------- Notes page Styles  -------------------------------------------*/

.note-wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid black;
}

.note {
    font-size: 1.4rem;
    font-family: 'Lexend', sans-serif
}

.delete{
    display: inline-block;
    padding: 5px 10px;
    background: black;
    color: #fff;
    border-radius: 10px;
}

/* Error/Success Message styles */
.error{
    border: 1px solid  red;
    color: red;
}
.success, .error {
    display: inline-block;
    padding: 15px;
    margin: 10px 0;
    font-size: 1.5rem;
}
.success{
    border: 1px solid green;
    color: green;
}

.note:hover{
    color: #307797;
}

/*   ---------------------------------------------------- Detail Page Styles ---------------------------------------*/

.detail-title, .author, .detail-par, .description {
    font-size: 2rem;
}

.description {
    margin-top: 10px;
}

