:root {
    font-size: 18px;
    color: #152018;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color:  #E2F216 ;
}

.nav a {
    display: inline-block;
    padding: 5px 10px;
}

/* Home Page Styling */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.intro-msg {
    font-size: 2.2rem;
    max-width: 70%;
    padding: 100px 0 30px 0;
}

.featured {
    display: inline-block;
    padding: 10px 20px;
    background: salmon;
    color: #fff;
    
}

/* Styling Create Page */

.form  {
    max-width: 60%;
}

.input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
    font-family: inherit;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    background: salmon;
    color: #fff;
    font-size: 1.3rem;
    border: none;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
}